@import "../config/variable.module.scss";

.about-page {
    .about-banner {
        background-image: url(../../assets/images/about-banner-img.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 350px;
        position: relative;
        padding-top: 200px;
    }

    .sport-img {
        img {
            border-radius: 10px;
        }
    }

    .sport-img-txt {
        background-color: $white;
        box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.15);
        padding: 30px;
        border-radius: 10px;

        h3 {
            color: $primary;
        }

        h2 {
            span {
                color: $primary;
            }
        }
    }

    .do-your-best-section {
        .best-card-wrapper {
            .round-circle {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid transparent;
                background-color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;

                h2 {
                    color: $white;
                }

                transition: 0.3s ease;
            }

            &:hover {
                .round-circle {
                    border: 1px solid $primary;
                    background-color: transparent;
                    transition: 0.3s ease;

                    h2 {
                        color: $primary;
                    }
                }
            }
        }
    }

    .sclub_testomonial_wrapper {
        width: 100%;
        float: left;
        background-image: url('../../assets/images/test_bg.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 100px 0;
        background-attachment: fixed;

        .testimonial_section {
            svg {
                position: absolute;
                top: 5px;
                left: 10px;
                z-index: 1;

                path {
                    fill: rgba(0, 187, 211, 0.13);
                }
            }

            p.paragraph.paragraph_bg {
                background: #fff;
                padding: 25px;
                border-radius: 4px;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 43px;
                    bottom: -6px;
                    width: 15px;
                    height: 15px;
                    transform: rotate(45deg);
                    border-top: 15px solid #fff;
                }
            }
            .radius{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
            
        }
        // .swiper-button-prev{
        //     width: 15px;
        //     height: 15px;
        //     border-radius: 50%;
        //     background-color: #fff;
        // }
        // .swiper-button-next{
        //     width: 15px;
        //     height: 15px;
        //     border-radius: 50%;
        //     background-color: #fff;
        // }
    }
}